<h2>{{ title }}</h2>

<ul class="app-todo__list">
  <li bold
      class="app-todo__list-item"
      *ngFor="let item of todoList; let i = index"
      (click)="onItemClick(item, i)"
  >
    {{ (i + 1) + '. ' + item.title }}
  </li>
</ul>

<input #inputEl
       type="text"
       class="app-todo__input"
       [(ngModel)]="inputValue">

<button class="app-todo__button"
        (click)="onAddButtonClick()">{{isEditMode ? 'Save' : 'Add'}}</button>
<button *ngIf="isEditMode"
        class="app-todo__button"
        (click)="onDeleteButtonClick()">Delete</button>

<div class="app-todo__text">You are going to add {{ inputValue ? inputValue : '______' }} to your list</div>
